<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Software Engineering Technologies and Techniques</title>
    <link href="./static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/savedetails.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Census Visualization App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Complete Details</h1>
        <form>
          <h2>Gender </h2>
          <br>
          <input type="radio" name ="gender" value="male"> Male<br>
          <input type="radio" name ="gender" value="male"> Female<br>
          <br>
          <h2>Race</h2>
          <br>
          <select>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="asian">Asian</option>
            <option value="indian">Indian</option>
            <option value="other">Other</option>
          </select>
          <br>
          <br>
          <h2>Martial Status</h2>
          <br>
          <input type="radio" name ="status" value="male"> Married<br>
          <input type="radio" name ="status" value="male"> Widowed<br>
          <input type="radio" name ="status" value="male"> Single<br>
          <br>
          <p><a class="btn btn-lg btn-success" href="saveDetails" role="button">Save Details</a>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Leonie</p>
      </footer>
 
    </div>
    <script src="./static/js/jquery-3.3.1.js"></script>
    <script src="./static/js/saveDetails.js"></script>
  </body>
</html>
