<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Software Engineering Technologies and Techniques</title>
    <link href="./static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/savedetails.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Census Visualization App</h3>
      </div>
 
      <div>
        <h1>Complete Details</h1>
        <form>
          <span>Gender</span>
          <br>
          <input type="radio" name ="gender" value="male"> Male<br>
          <input type="radio" name ="gender" value="male"> Female<br>
          <br>
          <span>Race</span>
          <br>
          <input type="radio" name ="race" value="male"> White<br>
          <input type="radio" name ="race" value="male"> Black<br>
          <input type="radio" name ="race" value="male"> Coloured<br>
          <br>
          <span>Martial Status</span>
          <br>
          <input type="radio" name ="status" value="male"> Married<br>
          <input type="radio" name ="status" value="male"> Widowed<br>
          <input type="radio" name ="status" value="male"> Single<br>
          <button id="btnSaveDetails" type="button">Save Details</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Leonie</p>
      </footer>
 
    </div>
    <script src="./static/js/jquery-3.3.1.js"></script>
    <script src="./static/js/saveDetails.js"></script>
  </body>
</html>
